html {
	font-size: 1em;
}
body,h1,h2,h3,h4,h5,h6{
	font-family: 'Roboto', serif;
}
body{
	font-size: 16px;
}
	font-weight: bold;
h4 {
	font-weight: 700;
}

/* override foundation.css */
.row {
	max-width: 60em;
}
.full-width {
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   max-width: initial;
}
.background-full-width {
	background-color: #567067;
}

#slidy-container {
	width: 100%;
	overflow: hidden; /* this is required */
}

/* TO DO list: add support for older browsers (IE) */

.rounded-corners {
	border-radius: 35px;
	margin: 0px auto;
}

/* .sticky:not(.fixed) {
	visibility: hidden;
} */

.top-bar {
	/*background-color: #2B6480;*/	
	background-color: inherit;	
	height: 4rem;
	padding: 10px;
}

.top-bar .name {
	color: #FFFFFF;
	font-size: 1.0rem;
	margin: 5px 0px 0px 5px; 
}

.top-bar-section ul{
	margin-top: 10px;
}
	
.top-bar-section ul li{
	background-color: transparent;
	color: #FFFFFF;
	margin: 10px;
	font-size: 0.9rem;
}


.title-area{ /* slogan part of nav bar */
	padding: 0px;
	margin: 0px;
}

.title-area .name{
	font-style: italic;
	font-weight: 400;
}



.orbit-container .orbit-slides-container > * {
	background-color: #000000;
}

.orbit-width{
	width: 100%;
}

.orbit-width li img{
	display: block;
	margin: 0 auto;
}

.orbit-width img {
	max-width: 1333px;
	max-height: 1080px;
}



/*.home-container row{
	max-width: 100%;
}*/
.overlay-container {
	background-image: url('../img/burrardbridge_vanierpark.jpg');
	background-attachment: fixed;
    background-position: center top;
    background-repeat: no-repeat;
	background-size: cover;
	min-height: 43em; /*120em is 1920px*/
}

.overlay-text-navigation {
	color: #000000;
	font-size: 1rem;
	float: right;
	margin: 4rem 3rem 0rem 0rem;
}

.overlay-text-title {
	color: #000;
	font-size: 3rem;
	float: left;
	margin: 1rem 0rem 0rem 1rem;
}

.overlay-text-subtitle {
	color: #000;
	font-size: 1rem;
	float: left;
	margin: 1.2rem 0rem 0rem 1rem;
}

/*.overlay-container.page-width-row{
	max-width: 100%;
}*/

/*.overlay-container{
	background-size: cover;
	background-image: 
		/* linear-gradient(
			rgba(0, 0, 0, 0.5),
			rgba(0, 0, 0, 0.5),
		), */
		/*url('../img/monochome_bg_cropped.JPG');
)
	
}*/



.about-me{
	background-color: #21445B;
	color: #ffffff;
	max-width: 1300px;
	/*width: 100%;*/
}
.about-me #profile-pic{
	margin-top: 10px;
}

.about-me h4{
	color: #ffffff;
}




.contact-me{
	color: #ffffff;
	background-image: url('../img/monochome_bg_cropped.JPG');
	min-height: 500px;
/*    background-attachment: fixed;*/
    background-position: center top;
    background-repeat: no-repeat;
	background-size: cover;
}

.contact-me h4{
	color: #ffffff;
}
.contact-me form label{
	color: #ffffff;
}

#footer{
	height: 150px;
}
