body,h1,h2,h3,h4,h5,h6{
	font-family: 'Roboto', serif;
}
body{
	font-size: 20px;
}
	font-weight: bold;
h4 {
	font-weight: 700;
}

#slidy-container {
	width: 100%;
	overflow: hidden; /* this is required */
}

.title-area .name{
	font-style: italic;
	font-weight: 400;
}

#about-me{
	background-color: #0C2553;
	color: #ffffff;
}
#about-me h4{
	color: #ffffff;
}

.orbit-container .orbit-slides-container > * {
	background-color: #000000;
}

.orbit-width{
	width: 100%;
}

.orbit-width li img{
	/*width: 960px;*/
	display: block;
	margin: 0 auto;
}

/* TO DO list: add support for older browsers (IE) */

.top-bar {
	background-color: 27735A;	
}

.top-bar .name {
	color: #FFFFFF;
	font-size: 18px;
	padding-left: 10px;
	padding-top: 5px;
}
.top-bar-section ul li{
	background-color: transparent;
	color: #FFFFFF;
	margin: 10px;
}