
body{
	font-family: 'Roboto', sans-serif;
	background-color: #ffffff;
	font-size: 16px;
}

.row {
	max-width: 80em;
}

#test { 
    background-image: url('http://www.pets4homes.co.uk/images/articles/1111/large/feline-influenza-all-about-cat-flu-5239fffd61ddf.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 0;
    padding-top: 66.64%; /* (img-height / img-width * container-width) */
}

#main-header {
	background-image: url('../img/banner.png');
	background-size: contain;
	background-repeat: no-repeat;
	width: 100%;
	height: 0;
	padding-top: 34%; /* (img-height / img-width * container-width) */

	
	/*margin: 0px auto;*/
}

#nav>* {
	font-family: 'Century Gothic';
	font-size: 2rem;
}

#nav ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
	display: table;
	table-layout: fixed;
	width: 100%;
}

#nav ul>li {
	display: table-cell;
	text-align: center;
}
#nav a {
	color: #000;
}
#nav a:link {
	text-decoration: none;
}
#nav a:visited {
	text-decoration: none;
}
#nav a:hover, a:active {
	border-bottom-style: solid;
	border-width: 5px; 
	border-color: #3F80BC;
}
	/*
#nav a:active {
	border-bottom-style: solid;
	border-width: 8px; 
	border-color: #3F80BC;
}*/


header {
	text-align: center;
}
#main-menu {
	margin: 3em 0px;
}


footer {
	min-height: 3em;
}
footer ul {
	list-style-type: none;
	text-align: center;
}
footer li {
	display: inline-block;
	padding: 0.8em;
}
