

<div id="about-us" class="main-section">
    <div id="mini-nav">
       <div class="row rounded-corners spacing show-for-small-only">
           <div class="small-12 columns">
               <ul class="button-group even-2">
                   <li>
                       <a href="#about-us-info" class="button">About Us</a>
                   </li>
                   <li>
                       <a href="#about-us-testimonials" class="button">Testimonials</a>
                   </li>
               </ul>
           </div>
       </div>
        <div class="row rounded-corners spacing hide-for-small-only">
            <div class="medium-3 columns">
                <a href="#" class="button large" id="button-aboutusinfo">About Us</a>
            </div>
            <div class="medium-3 columns">
                <a href="#" class="button large" id="button-aboutustestimonials">Testimonials</a>
            </div>
        </div>
    </div>
    <div id="about-us-info" class="row rounded-corners spacing">

        <div class="small-12 medium-8 large-8 no-side-padding columns">
            <p><h2>About Us</h2>
            Our experience working and living in East Vancouver has allowed us to see a ton of homes, and as a result we know what buyers want and what sellers can command on the open market.

            <br><br>In order to provide our clientele with the best advice and service we asked ourselves the only question that mattered: If we were selling our houses, what would we want from our Real Estate agents?

            <br><br>This is what they have come up with:
            <br><br>
            <ul>
                <li><b>Day to day life is busy:</b>&nbsp; From start to finish the process should be simple, and seamless.</li>
                <li><b>Where do you start?</b>&nbsp; It's about considering the big picture while taking care of the small details. That's why professional photography, measurements, staging, a lick of paint, and cleanup is included.</li>
                <li><b>Right place, Right time: </b>&nbsp; Follow a transparent, time tested marketing strategy.</li>
                <li><b>Can you hear me?</b>&nbsp; We are all unique so we know its important to be listened to, we hear you!</li>
                <li><b>What now…</b>&nbsp; When you hire professionals, trained in the art of negotiation you won't be left in the dark looking for answers; you'll have them.</li>
            </ul>

            <br><br>Our goal is to give you the most professional Real Estate experience ensuring you get the best results while protecting and communicating with you the entire time.

            <br><br>Choose us for your next real estate transaction!

            </p>
        </div>
        <div class="small-12 medium-4 large-4 no-side-padding columns show-for-large-only">
            <img class="img-circle profile-pic left" src="img/cropped_sean.png">
            <img class="img-circle profile-pic right" src="img/cropped_laura.png">
        </div>
        <div class="small-12 medium-4 large-4 no-side-padding columns hide-for-large-only">
            <img class="img-circle profile-pic" src="img/cropped_sean.png">
            <img class="img-circle profile-pic" src="img/cropped_laura.png">
        </div>
        <div class="small-12 columns show-for-small-only">
          <a href="#" class="button small button-scrollToTop">{{ buttonScrollToTop }}</a>
        </div>
    </div>
   <div id="about-us-testimonials" class="row rounded-corners spacing">
        <div id="testimonials-slider">
                {% for testimonial in testimonials %}
                    <div>  
                    {% for line in testimonial %}
                        {% if line|length < 50 %}<p class="testimonial-info">{{ line }} </p>
                        {% else %}<p class="testimonial-content">{{ line }}</p>
                        {% endif %}
                    {% endfor %}
                    </div>
                {% endfor %}
        </div>
    </div>
</div>

  

    
