	{% extends "template.html" %}
	{% block content %}
	<div id="main-menu" class="row rounded-corners spacing">
		<div class="large-12 columns no-side-padding">
			<div class="row">
				<div class="small-6 medium-3 columns">
					<header>
						<img src="img/icons/icon_person.png">
						<br><h3>About Us</h3>
					</header>
					Find out about the team, and what we will do for you!
				</div>
				<div class="small-6 medium-3 columns">
					<header>
						<img src="img/icons/icon_coffeecup.png">
						<br><h3>Contact Us</h3>
					</header>
					Contact us and tell us what you are looking for
				</div>
                <div class="row show-for-small-only">
                    <div class="large-12 columns">
                        <ul class="button-group even-2">
                            <li>
                                <a href="#about-us" class="button small">Meet Us</a>
                            </li>
                            <li>
                                <a href="#contact-us" class="button small">Let's Chat</a>
                            </li>
                        </ul>
                    </div>
                </div>

		  		<div class="small-6 medium-3 columns">
					<header>
						<img src="img/icons/icon_newsletter.png">
						<br><h3>Newsletter</h3>
					</header>
					Our monthly newsletter brings to you real time local sales records, statistics, and projected scope of the marketplace
					<br>&nbsp;
				</div>
				<div class="small-6 medium-3 columns">
					<header>
						<img src="img/icons/icon_search.png">
						<br><h3>Open Houses </h3>
					</header>
					Find open houses in East Vancouver this weekend! Updated every Thursday at 5pm.
				</div>
                <div class="row show-for-small-only">
                    <div class="small-12 columns">
                        <ul class="button-group even-2">
                            <li>
                                <a href="#newsletter" class="button small">Sign Up</a>
                            </li>
                            <li>
                                <a href="#open-houses" class="button small">Search Now</a>
                            </li>
                        </ul>
                    </div>
                </div>
			</div>
			<div class="row hide-for-small">
				<div class="medium-3 columns">
					<a href="#" class="button" id="button-aboutus">Meet Us</a>
				</div>
				<div class="medium-3 columns">
					<a href="#" class="button" id="button-contactus">Let's Chat</a>
				</div>
				<div class="medium-3 columns">
					<a href="#" class="button" id="button-newsletter">Sign Up</a>
				</div>
				<div class="medium-3 columns">
					<a href="#" class="button" id="button-openhouses">Search Now</a>
				</div>
			</div>
		</div>
	</div>

	<div id="about-us" class="main-section">
        <div id="mini-nav">
           <div class="row rounded-corners spacing show-for-small-only">
               <div class="small-12 columns">
                   <ul class="button-group even-2">
                       <li>
                           <a href="#about-us-info" class="button">About Us</a>
                       </li>
                       <li>
                           <a href="#about-us-testimonials" class="button">Testimonials</a>
                       </li>
                   </ul>
               </div>
           </div>
            <div class="row rounded-corners spacing hide-for-small-only">
                <div class="medium-3 columns">
                    <a href="#" class="button large" id="button-aboutusinfo">About Us</a>
                </div>
                <div class="medium-3 columns">
                    <a href="#" class="button large" id="button-aboutustestimonials">Testimonials</a>
                </div>
            </div>
        </div>
		<div id="about-us-info" class="row rounded-corners spacing">

			<div class="small-12 medium-8 large-8 no-side-padding columns">
				<p><h2>About Us</h2>
				Our experience working and living in East Vancouver has allowed us to see a ton of homes, and as a result we know what buyers want and what sellers can command on the open market.

				<br><br>In order to provide our clientele with the best advice and service we asked ourselves the only question that mattered: If we were selling our houses, what would we want from our Real Estate agents?

				<br><br>This is what they have come up with:
				<br><br>
				<ul>
					<li><b>Day to day life is busy:</b>&nbsp; From start to finish the process should be simple, and seamless.</li>
					<li><b>Where do you start?</b>&nbsp; It’s about considering the big picture while taking care of the small details. That’s why professional photography, measurements, staging, a lick of paint, and cleanup is included.</li>
					<li><b>Right place, Right time: </b>&nbsp; Follow a transparent, time tested marketing strategy.</li>
					<li><b>Can you hear me?</b>&nbsp; We are all unique so we know its important to be listened to, we hear you!</li>
					<li><b>What now…</b>&nbsp; When you hire professionals, trained in the art of negotiation you won’t be left in the dark looking for answers; you’ll have them.</li>
				</ul>

				<br><br>Our goal is to give you the most professional Real Estate experience ensuring you get the best results while protecting and communicating with you the entire time.

				<br><br>Choose us for your next real estate transaction!

				</p>
			</div>
			<div class="small-12 medium-4 large-4 no-side-padding columns show-for-large-only">
				<img class="img-circle profile-pic left" src="img/cropped_sean.png">
				<img class="img-circle profile-pic right" src="img/cropped_laura.png">
			</div>
			<div class="small-12 medium-4 large-4 no-side-padding columns hide-for-large-only">
				<img class="img-circle profile-pic" src="img/cropped_sean.png">
				<img class="img-circle profile-pic" src="img/cropped_laura.png">
			</div>
		    <div class="small-12 columns show-for-small-only">
              <a href="#" class="button small button-scrollToTop">{{ buttonScrollToTop }}</a>
            </div>
		</div>
		<div id="about-us-testimonials" class="row rounded-corners spacing">
		    <p class="testimonial-content">
"The search for my investment property began early 2015 when I was referred to Sean by a close friend
of mine in Vancouver. The initial stage of my research was especially challenging as I’m based offshore,
which made physical inspection challenging in a fast moving market. Sean was keen and quick to assist,
and he was very diligent in tailoring the search to my requirements. He provided timely and thorough
analysis on properties that I showed interest in, and I was especially impressed by his proactive attitude.
I felt Sean really tried to understand my needs, and offered his honest opinion on the suitability of the
property to me as the potential buyer. Sean was integral in helping me find my property, and continued
to be helpful during the entire purchasing process. I’m very happy with his services and professionalism,
and would not hesitate recommending him to anyone I know."
		 	</p>

			<p class="testimonial-person"><i>Peter Wong</i></p>
			<p class="testimonial-location"><i>Tokyo, Japan</i></p>
			<br><br>

			<p class="testimonial-content">
In 2015, I was working with my financial planner on purchasing a condo for my daughter. It
was suggested to me that their lending channel could help me accomplish this but when we got into
it, I found I wasn’t getting the pertinent information that I needed and I had lost 2 weeks. A
fri e n d s u g g e s t e d I contact Sean Patterson to look into things and right from the start I found
him to be honest, direct, and informative. He was able to answer all my questions and dealt with
my requests in a timely manner. He ended up getting me the mortgage financing I was looking
for and in a way that never left me asking what step was next. As we approached the completion
date, due to the time constraints I ended up having an unexpected delay on a funds transfer of
investments I had liquidated. I called Sean, first and the guy offered to lend me the $20,000.00 for a
few days so that I could complete on time. THIS BLEW ME AWAY! In the end, I didn’t have to go
that route, and I was able to get my money just in time to close the deal. Working with Sean was a
pleasure, and Ilook forward to working with him again. I would highly recommend him to anybody I
know.
			</p>
			<p class="testimonial-person"><i>Robert Hamill</i></p>
			<p class="testimonial-location"><i>Surrey, BC</i></p>

		</div>
	</div>

	<div id="contact-us" class="main-section">
		<div class="row rounded-corners spacing">
			<div class="small-12 medium-6 large-4 large-push-4 columns">
				<h2>Contact Us</h2>
				<br><b>Email</b>: <a href="#" id="contactus-email">info@seanpatterson.ca</a>
				<br><b>Address</b>: 1250 Commercial Drive
				<br><b>Storefront phone</b>: 604-258-8897
				<br><b>Sean's cellphone</b>: 604-218-2528
				<br><b>Laura's cellphone</b>: 604-657-6535
				<br><i>Call us on our cells anytime</i>
				<br>
				<br><h5>Store Hours</h5>
				<br><b>Monday to Friday</b>: 9am to 5pm
				<br><b>Saturday</b>: Open until noon
				<br><b>Saturday</b>: closed
				<br>&nbsp;
			</div>
            <div class="small-12 medium-6 large-4 large-pull-4 columns show-for-small-only">
                <iframe
                width="275"
                height="375"
                frameborder="0"
                style="border:0"
                src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAKe3XrU6QYlav_8vS6Modd4nexlQ64AmY&q=1250+Commercial+Dr,+Vancouver,+BC+V5L"
                allowfullscreen>
                </iframe>
            </div>
			<div class="small-12 medium-6 large-4 large-pull-4 columns hide-for-small-only">
				<iframe
				width="360"
				height="400"
				frameborder="0"
				style="border:0"
				src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAKe3XrU6QYlav_8vS6Modd4nexlQ64AmY&q=1250+Commercial+Dr,+Vancouver,+BC+V5L"
				allowfullscreen>
				</iframe>
			</div>
			<div id="contactus-form" class="small-12 medium-12 large-4 columns">
				<script type="text/javascript" src="https://form.jotform.com/jsform/53337802849261"></script>
			</div>
            <div class="small-12 columns show-for-small-only">
              <a href="#" class="button small button-scrollToTop">{{ buttonScrollToTop }}</a>
            </div>
		</div>
	</div>

	<div id="newsletter" class="main-section">
		<div class="row rounded-corners spacing">
			<div class="small-12 medium-6 large-6 columns">
				<p><h2>Newsletter</h2>
					<br>Our monthly newsletter brings to you real time local sales records, statistics, and projected scope of the marketplace.
				</p>
			</div>
			<div class="small-12 medium-6 large-6 columns">
				<script type="text/javascript" src="https://form.jotform.com/jsform/53336299857269"></script>
			</div>
            <div class="small-12 columns show-for-small-only">
              <a href="#" class="button small button-scrollToTop">{{ buttonScrollToTop }}</a>
            </div>
		</div>
	</div>

	<div id="open-houses" class="main-section">
		<div class="row rounded-corners spacing">
			<div class="large-12 columns">
				<p><h2>Open Houses</h2>
					<style>#embeded iframe{ width: 100%; }</style>
					<div id="embeded"></div>
					<script src="http://seanpatterson.realtyninja.com/static/js/jquery.js"></script>
					<script src="http://seanpatterson.realtyninja.com/static/js/easyXDM/easyXDM.min.js"></script>
					<script src="http://seanpatterson.realtyninja.com/static/js/embed_js.js" rel="responsive" url="open-houses"></script>
				</p>
			</div>
	        <div class="small-12 columns show-for-small-only">
              <a href="#" class="button small button-scrollToTop">{{ buttonScrollToTop }}</a>
            </div>
		</div>
	</div>
	{% endblock content %}
