	{% extends "template.html" %}
	{% block content %}
	<div id="main-menu" class="row rounded-corners spacing">
		<div class="large-12 columns no-side-padding">
			<div class="row">
				<div class="small-6 medium-3 columns">
					<header>
						<img src="img/icons/icon_person.png">
						<br><h3>About Us</h3>
					</header>
					Find out about the team, and what we will do for you!
				</div>
				<div class="small-6 medium-3 columns">
					<header>
						<img src="img/icons/icon_coffeecup.png">
						<br><h3>Contact Us</h3>
					</header>
					Contact us and tell us what you are looking for
				</div>
                <div class="row show-for-small-only">
                    <div class="large-12 columns">
                        <ul class="button-group even-2">
                            <li>
                                <a href="#about-us" class="button small">Meet Us</a>
                            </li>
                            <li>
                                <a href="#contact-us" class="button small">Let's Chat</a>
                            </li>
                        </ul>
                    </div>
                </div> 
                
		  		<div class="small-6 medium-3 columns">
					<header>
						<img src="img/icons/icon_newsletter.png">
						<br><h3>Newsletter</h3>
					</header>
					Our monthly newsletter brings to you real time local sales records, statistics, and projected scope of the marketplace
					<br>&nbsp;
				</div>
				<div class="small-6 medium-3 columns">
					<header>
						<img src="img/icons/icon_search.png">
						<br><h3>Open houses </h3>
					</header>
					Find open houses in East Vancouver this weekend! Updated every thursday. 
				</div>
                <div class="row show-for-small-only">
                    <div class="large-12 columns">
                        <ul class="button-group even-2">
                            <li>
                                <a href="#newsletter" class="button small">Sign Up</a>
                            </li>
                            <li>
                                <a href="#open-houses" class="button small">Search Now</a>
                            </li>
                        </ul>
                    </div>
                </div> 
			</div>
			<div class="row hide-for-small">
				<div class="medium-3 columns">
					<a href="#" class="button" id="button-aboutus">Meet Us</a>
				</div>
				<div class="medium-3 columns">
					<a href="#" class="button" id="button-contactus">Let's Chat</a>
				</div>
				<div class="medium-3 columns">
					<a href="#" class="button" id="button-newsletter">Sign Up</a>
				</div>
				<div class="medium-3 columns">
					<a href="#" class="button" id="button-openhouses">Search Now</a>
				</div>
			</div>
		</div>
	</div>

	<div id="about-us" class="main-section">
		<div class="row rounded-corners spacing">
			<div class="small-12 medium-8 large-8 columns">
				<p><h2>About Us</h2>
				Laura and Sean’s experience working and living in East Vancouver has allowed them to see a ton of homes, and as a result they know what buyers want and what sellers can command on the open market.

				<br>In order to provide their clientele with the best advice and service they asked themselves the only question that mattered: “If we were selling our houses, what would we want from our Real Estate agents?”

				<br><br>This is what they have come up with:
				<ul>
					<li><b>Day to day life is busy –</b> From start to finish the process should be simple, and seamless.</li>
					<li><b>Where do you start? –</b> It’s about considering the big picture while taking care of the small details. That’s why professional photography, measurements, staging, a lick of paint, and cleanup is included.</li>
					<li><b>Right place, Right time –</b> Follow a transparent, time tested marketing strategy.</li>
					<li><b>Can you hear me? –</b> We are all unique so we know it’s not only important to be listened to, but also understood.</li>
					<li><b>What now… -</b> When you hire professionals, trained in the art of negotiation you won’t be left in the dark looking for answers; you’ll have them.</li>
				</ul>
                   
				</p>
			</div>
			<div class="small-12 medium-4 large-4 columns">
				<img class="img-circle profile-pic left" src="img/cropped_sean.png">
				<img class="img-circle profile-pic right" src="img/cropped_laura.png">
			</div>
		    <div class="small-12 columns show-for-small-only">
              <a href="#" class="button small button-scrollToTop">{{ buttonScrollToTop }}</a>
            </div>
		</div>
	</div>

	<div id="contact-us" class="main-section">
		<div class="row rounded-corners spacing">
			<div class="small-12 medium-6 large-4 large-push-4 columns">
				<h2>Contact Us</h2>
				<br><b>Email</b>: info at seanpatterson.ca
				<br><b>Address</b>: 1250 Commercial Drive
				<br><b>Storefront phone</b>: 604-258-8897
				<br><b>Sean's cellphone</b>: 604-218-2528
				<br><b>Laura's cellphone</b>: 604-657-6535
				<br><i>Call us on our cells anytime</i>
				<br>
				<br><h5>Store Hours</h5>
				<br><b>Monday to Friday</b>: 9am to 5pm
				<br><b>Saturday</b>: Open until noon
				<br><b>Saturday</b>: closed
				<br>&nbsp;
			</div>
            <div class="small-12 medium-6 large-4 large-pull-4 columns show-for-small-only">
                <iframe
                width="275"
                height="375"
                frameborder="0"
                style="border:0"
                src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAKe3XrU6QYlav_8vS6Modd4nexlQ64AmY&q=1250+Commercial+Dr,+Vancouver,+BC+V5L"
                allowfullscreen>
                </iframe>
            </div>
			<div class="small-12 medium-6 large-4 large-pull-4 columns hide-for-small-only">
				<iframe
				width="360"
				height="400"
				frameborder="0"
				style="border:0"
				src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAKe3XrU6QYlav_8vS6Modd4nexlQ64AmY&q=1250+Commercial+Dr,+Vancouver,+BC+V5L"
				allowfullscreen>
				</iframe>
			</div>
			<div class="small-12 medium-12 large-4 columns">
				<script type="text/javascript" src="https://form.jotform.com/jsform/53337802849261"></script>
			</div>
            <div class="small-12 columns show-for-small-only">
              <a href="#" class="button small button-scrollToTop">{{ buttonScrollToTop }}</a>
            </div>
		</div>
	</div>

	<div id="newsletter" class="main-section">
		<div class="row rounded-corners spacing">
			<div class="small-12 medium-6 large-6 columns">
				<p><h2>Newsletter</h2>
					<br>Our monthly newsletter brings to you real time local sales records, statistics, and projected scope of the marketplace.
				</p>
			</div>
			<div class="small-12 medium-6 large-6 columns">
				<script type="text/javascript" src="https://form.jotform.com/jsform/53336299857269"></script>
			</div>
            <div class="small-12 columns show-for-small-only">
              <a href="#" class="button small button-scrollToTop">{{ buttonScrollToTop }}</a>
            </div>
		</div>
	</div>

	<div id="open-houses" class="main-section">
		<div class="row rounded-corners spacing">
			<div class="large-12 columns">
				<p><h2>Open Houses</h2>
					<style>#embeded iframe{ width: 100%; }</style>
					<div id="embeded"></div>
					<script src="http://seanpatterson.realtyninja.com/static/js/jquery.js"></script>
					<script src="http://seanpatterson.realtyninja.com/static/js/easyXDM/easyXDM.min.js"></script>
					<script src="http://seanpatterson.realtyninja.com/static/js/embed_js.js" rel="responsive" url="open-houses"></script>
				</p>
			</div>
	        <div class="small-12 columns show-for-small-only">
              <a href="#" class="button small button-scrollToTop">{{ buttonScrollToTop }}</a>
            </div>
		</div>
	</div>
	{% endblock content %}
