{% extends "template.html" %}
{% block content %}
	<div class="row">
		<div class="large-12 columns">
			<style>#embeded iframe{ width: 100%; }</style>
			<div id="embeded"></div>
			<script src="http://seanpatterson.realtyninja.com/static/js/jquery.js"></script>
			<script src="http://seanpatterson.realtyninja.com/static/js/easyXDM/easyXDM.min.js"></script>        
			<script src="http://seanpatterson.realtyninja.com/static/js/embed_js.js" rel="responsive" url="east-vancouver-mls-search"></script>        
		</div>
	</div>
{% endblock content %}